header{
  display: flex;
  align-items: center;
  background-color: #0D254C;
  color: #ffffff;
  height: 75px;
  width: 100%;
}
.header2{
  display: inline;
  width: 100%;
  text-align: center;
}
.heading{
  text-align: center;
  margin: 0;
}
.nav-button{
  font-size: 36px;
  color: #ffffff;
  background-color: #0D254C;
  border: none;
  height: 100%
}
